@mixin before_round {
    &::before {
        content: '';
        position: absolute;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: $main-color;
        top: -7px;
        left: 0;
        z-index: -1;
    }
}