.about {
    padding-top: 120px;
    background-color: $background-color;
    &__wrapper {
        padding: 0 48px;
        display: flex;
        justify-content: space-between;
    }
    &__img {
        width: 406px;
        border: 3px solid #FFF;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content {
        width: 570px;
    }
    &__subtitle {
        padding-left: 12px;
        @include before_round;
        margin-bottom: 6px;
    }
    &__text {
        color: #FFF;
        font-size: 14px;
        font-weight: 500;
        margin-top: 20px;
    }
    &__specialty {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 50px;
        row-gap: 20px;
    }
    &__specialty-item {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__specialty-icon {
        position: relative;
        z-index: 0;
        @include before_round;
        &:before {
            top: 0;
        }
        img {
            position: absolute;
            top: 15px;
            left: 15px;
        }
    }
    &__specialty-text {
        width: 200px;
    }
    &__specialty-title {
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
    }
    &__specialty-descr {
        color: #FFF;
        font-size: 12px;
        font-weight: 500;
        margin-top: 6px;
    }
}