.privacy {
    padding: 10px;
    h1 {
        text-align: center;
        padding: 5px;
    }
    h2 {
        padding: 5px;
    }
    p {
        margin-top: 1rem;
        margin-bottom: 0;
        padding-left: 20px;
    }
    ul {
        list-style-type: none;
        li {
            padding-left: 20px;
        }
    }
}