.title {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    position: relative;
    span {
        position: relative;
        z-index: 2;
    }
    &_fs48px {
        font-size: 48px;
        line-height: 60px;
        width: 535px;
        margin-top: 10px;
    }
    &_fs36px {
        font-size: 36px;
        line-height: 60px;
    }
}